xml_txt.py filter=lfs diff=lfs merge=lfs -text
bdd100 filter=lfs diff=lfs merge=lfs -text
json_xml.py filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
run_train_example.sh filter=lfs diff=lfs merge=lfs -text
run_valid_example.sh filter=lfs diff=lfs merge=lfs -text
bdd100.zip filter=lfs diff=lfs merge=lfs -text
build_data.py filter=lfs diff=lfs merge=lfs -text
mydata.yml filter=lfs diff=lfs merge=lfs -text
